<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><a href="/apps">Apps</a></td>
        <td><a href="/app_uniques">App Uniques</a></td>
        <td><a href="/browsers">Browser History</a></td>
        <td><a href="/calls">Call History</a></td>
        <td><a href="/locations">Location History</a></td>
        <td><a href="/photos">Photos</a></td>
        <td><a href="/screens">Screen Events</a></td>
        <td><a href="/sims">Sim Events</a></td>
        <td><a href="/sms_messages">SMS History</a></td>
      </tr>
  </tbody>
</table>

<br>